<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar insumo</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/form-update-register.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <form class="main__container main__container--suppliesForm">
            <h2 class="main__title">Registrar insumo agrícola</h2>
            <div class="main__container-form">

                <div class="main__form-group">
                    <p class="main__form-label">ID del insumo</p>
                    <input 
                        class="main__form-field main__form-field--suppliesId" 
                        type="text" />
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">ID del ciclo de cultivo</p>
                    <input 
                        class="main__form-field main__form-field--cropcycleId" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">ID del cultivo</p>
                    <input 
                        class="main__form-field 
                        main__form-field--cropId" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Tipo</p>
                    <input 
                        class="main__form-field main__form-field--suppliesType" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Cantidad</p>
                    <input 
                        class="main__form-field main__form-field--suppliesCuantity" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Nombre</p>
                    <input 
                        class="main__form-field main__form-field--suppliesName" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Estado</p>
                    <input 
                        class="main__form-field main__form-field--suppliesState" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Valor unitario</p>
                    <input 
                        class="main__form-field main__form-field--suppliesUnitvalue" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Valor total</p>
                    <input 
                        class="main__form-field main__form-field--suppliesTotalvalue" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Unidad de medida</p>
                    <input 
                        class="main__form-field main__form-field--suppliesMeasure" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Descripción</p>
                    <input 
                        class="main__form-field main__form-field--description main__form-field--suppliesDescription" 
                        type="text" />
                </div>
            </div><!-- main__container-form -->
            <div class="main__form-end">
                <button class="main__form-button" type="submit">REGISTRAR</button>
            </div>
        </form> <!-- main__container -->
    </main><!-- main -->

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html"><button class="button-end__return" type="button">CANCELAR</button></a>
    </div>

    <!-- Enlace de script para validaciones de insumos -->
    <script src="/backend/middleware.js/supplies-validacion.js"></script>
</body>
</html>