<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actualizar insumo</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/form-update-register.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <div class="main__container">
            <h2 class="main__title">Actualizar insumo agrícola</h2>
            <div class="main__container-form">
                <div class="main__form-group">
                    <p class="main__form-label">ID del insumo</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">ID del ciclo de cultivo</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">ID del cultivo</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Tipo</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Cantidad</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Nombre</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Estado</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Valor unitario</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Valor total</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Unidad de medida</p>
                    <input class="main__form-field" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Descripción</p>
                    <input class="main__form-field main__form-field--description" type="text" />
                </div>
            </div><!-- main__container-form -->
            <div class="main__form-end">
                <a href="confirm-update-register-enable-disable.html" >
                    <button class="main__form-button">ACTUALIZAR</button>
                </a>
            </div><!-- main__form-end -->
        </div> <!-- main__container -->
    </main>

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html">
            <button class="button-end__return" type="button">CANCELAR</button>
        </a>
    </div>

    <!-- Enlace de script para validaciones de insumos -->
    <script src="/backend/middleware.js/supplies-validacion.js"></script>
</body>
</html>