<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar insumo</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/visualise.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <div class="main__container">
            <div class="main__container-information">
                <div class="main__container-image">
                    <h1 class="main__title">Visualizar asociaciones de insumo</h1>
                    <img class="main__image" src="../../img/image_supplies.png">
                </div>
                <div class="main__container-text">
                    <h2 class="main__subtitle">Insumo: Fertilizante NPK</h2>
                    <p>ID del insumo: Supp1001</p>
                    <p>Tipo de insumo: Fertilizante</p>
                    <p>Unidad de medida: Kilogramos (kg)</p>
                    <p>Cantidad disponible: 250</p>
                    <p>Valor unitario: $45.000</p>
                    <p>Valor total: 11'250.000</p>
                    <p>Estado: HABILITADO</p>
                    <p>Descripción: Fertilizante compuesto de nitrógeno, fósforo y potasio</p>
                    <h2 class="main__subtitle">Datos de asociación de módulos</h2>
                    <p>Usado en cultivos: Maíz, Tomate</p>
                    <p>Ciclos de cultivo asociados: Ciclo 1 - Maíz 2024, Ciclo 2 - Tomate 2024</p>
                    <p>Relacionado con sensores: Sensor de humedad de suelo</p>
                    <p>Fecha de última actualización: 15/03/2025</p>
                </div>
                
            </div>
        </div>
    </main>

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html"><button class="button-end__return" type="submit">VOLVER</button></a>
    </div>
</body>
</html>