<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar sensor</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/form-update-register.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <!-- Link para icono de carga -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

  <!-- Main -->
  <main class="main">
    <form class="main__container main__container--sensorForm" method="POST">
        <h2 class="main__title">Registrar sensor</h2>
        <div class="main__container-form">

            <div class="main__form-group">
                <p class="main__form-label">ID del sensor</p>
                <input 
                type="text" 
                class="main__form-field main__form-field--sensor-id" 
                />
            </div>

            <div class="main__form-group">
                <p class="main__form-label">Tipo de sensor</p>
                <input type="text" class="main__form-field main__form-field--sensor-type">
            </div>

            <div class="main__form-group">
                <p class="main__form-label">Nombre del sensor</p>
                <input type="text" class="main__form-field main__form-field--name">
            </div>

            <div class="main__form-group">
                <p class="main__form-label">Unidad de medida</p>
                <select class="main__form-field main__form-field--unit-measure">
                    <option value="">Seleccione una opción</option>
                    <option value="m">Metros (m)</option>
                    <option value="cm">Centímetros (cm)</option>
                    <option value="mm">Milímetros (mm)</option>
                    <option value="kg">Kilogramos (kg)</option>
                    <option value="g">Gramos (g)</option>
                    <option value="l">Litros (l)</option>
                    <option value="ml">Mililitros (ml)</option>
                </select>
            </div>

            <div class="main__form-group">
                <p class="main__form-label">Tiempo de escaneo (minutos)</p>
                <input type="number" class="main__form-field main__form-field--scan-time" min="0" step="1" placeholder="Minutos">
            </div>

            <div class="main__form-group">
                <p class="main__form-label">
                    Imágen del sensor
                </p>
                <label class="main__form-field main__form-field--upload">
                    <input type="file" class="main__form-field--upload-input" id="imagenSensor">
                    <span class="main__upload-text" id="fileName">Seleccionar archivo</span>
                    <i class="main__upload-icon fas fa-upload"></i>
                </label>
            </div>

            <div class="main__form-group">
                <p class="main__form-label">Estado</p>
                <select class="main__form-field main__form-field--state">
                    <option value="activo">Activo</option>
                    <option value="inactivo">Inactivo</option>
                </select>
            </div>

            <div class="main__form-group form__field-group--description">
                <p class="main__form-label">Descripción</p>
                <input type="text" class="main__form-field main__form-field--description">
            </div>
        </div><!-- main__container-form -->
        <div class="main__form-end">
            <button class="main__form-button">REGISTRAR</button>
        </div>
    </form><!-- main__container -->
</main>

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html">
            <button class="button-end__return" type="button">CANCELAR</button>
        </a>
    </div>

    <script src="/backend/middleware.js/sensor-validation.js"></script>

</body>
</html>