<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensores</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/table.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>
    <script src="/backend/middleware.js/display_drop-down.js"></script>
    <script src="/backend/middleware.js/search-table.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Título de la tabla -->
    <div class="table-title">
        <h2 class="table-title__title">Sensores</h2>
    </div>

    <!-- Sección de búsqueda -->
    <div class="search">
        <div class="search__container">
            <input type="text" class="search__input" placeholder="Buscar...">
            <img src="/frontend/public/img/icono_lupa.png" alt="Buscar" class="search__icon">
        </div>
    </div>

    <!-- Opciones de la tabla -->
    <div class="table-options">
        <div class="table-options__link table-options__link--dropdown-wrapper">
            <h4 class="table-options__title table-options__title--dropdown-toggle" id="deshabilitarHabilitarBtn">Deshabilitar/Habilitar
                <img class="table-options__image" src="../../img/icono_flecha.png" />
            </h4>
            <div class="dropdown-menu" id="deshabilitarHabilitarMenu">
                <a href="#" data-state="active">Habilitar</a>
                <a href="#" data-state="inactive">Deshabilitar</a>
            </div>
        </div>
        <div class="table-options__link table-options__link--dropdown-wrapper">
            <h4 class="table-options__title table-options__title--dropdown-toggle" id="descargarBtn">Descargar
                <img class="table-options__image" src="../../img/icono_flecha.png" />
            </h4>
            <div class="dropdown-menu" id="descargarMenu">
                <a href="#">PDF</a>
                <a href="#">EXCEL</a>
            </div>
        </div>
        <div class="table-options__link table-options__link--dropdown-wrapper">
            <h4 class="table-options__title table-options__title--dropdown-toggle">Visualizar
                <img class="table-options__image" src="../../img/icono_flecha.png" />
            </h4>
            <div class="dropdown-menu">
                <a href="#" id="visualizarLink">Visualizar sensor</a>
            </div>
        </div>
        <a class="table-options__link" href="filtro.html">
            <img class="table-options__image--filter" src="../../img/icono_filtro.png" />
        </a>
    </div>

    <!-- Tabla -->
    <main class="main">
        <table class="main__table">
            <thead class="main__thead">
                <tr class="main__table-row">
                    <th class="main__table-header main__table-header--checkbox">
                        <input type="checkbox" class="main__table-checkbox" id="selectAll">
                    </th>
                    <th class="main__table-header">ID SENSOR</th>
                    <th class="main__table-header">NOMBRE</th>
                    <th class="main__table-header">TIPO</th>
                    <th class="main__table-header">UBICACIÓN</th>
                    <th class="main__table-header">ESTADO</th>
                </tr>
            </thead>
            <tbody class="main__tbody">
                <!-- Las filas se generarán dinámicamente mediante JavaScript -->
            </tbody>
        </table>
    </main>

    <!-- Seccion de botones finales - registrar/actualizar-->
    <div class="button-end">
        <a href="register.html">
            <button class="button-end__return--top-none" type="button">REGISTRAR</button>
        </a>
        <a href="id-update.html">
            <button class="button-end__return--top-none" type="button">ACTUALIZAR</button>
        </a>
    </div>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="/frontend/public/js/sensor/sensor.js" type="module" defer></script>
</body>
</html>