<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Proceso exitoso</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/confirm-update-register-enable-disable.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Container -->
    <div class="container">
        <h3 class="container__text">¡Proceso finalizado con éxito!</h3>
        <a class="container__link" href="table.html">
            <button class="container__button" href="table.html">CONTINUAR</button>
        </a>
    </div>
</body>
</html>
