<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar ciclo</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/form-update-register.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>


    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link  rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap"/>
</head>

<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <form class="main__container main__container--cycleForm" method="POST" novalidate>
            <h2 class="main__title">Registrar el ciclo de cultivo</h2>
            <div class="main__container-form">
                <div class="main__form-group">
                    <p class="main__form-label">ID del ciclo de cultivo</p>
                    <input class="main__form-field main__form-field--cycle-id" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Ubicación</p>
                    <input class="main__form-field main__form-field--location" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Nombre del ciclo</p>
                    <input class="main__form-field main__form-field--cycle-name" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Estado</p>
                    <select class="main__form-field main__form-field--cycleState">
                        <option value="">Seleccione una opción</option>
                        <option value="CC">Activo</option>
                        <option value="TI">Inactivo</option>
                    </select>
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Novedades</p>
                    <input class="main__form-field main__form-field--news" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Periodo / fecha inicio</p>
                    <input class="main__form-field main__form-field--start-date" type="date">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Periodo / fecha fin</p>
                    <input class="main__form-field main__form-field--end-date" type="date">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Descripción</p>
                    <input class="main__form-field main__form-field--description" type="text" />
                </div>
            </div><!-- main__container-form -->
            <div class="main__form-end">
                <button class="main__form-button main__form-field--register-button" type="submit">REGISTRAR</button>
            </div><!-- main__form-end -->
        </form> <!-- main__container -->
    </main>

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html">
            <button class="button-end__return" type="button">CANCELAR</button>
        </a>
    </div>

    <script src="/backend//middleware.js//cycle_validation.js"></script>
</body>

</html>