<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filtro Cultivos</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/form-update-register.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>

    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

        <!-- Main -->
        <main class="main">
            <form class="main__container main__container--user main__container--userForm" action="http://localhost:3000/users" method="POST"><!-- userForm -->
                <h2 class="main__title">Escoja uno o más filtros para la tabla</h2>
                <div class="main__container-form">
    
                    <div class="main__form-group">
                        <p class="main__form-label">Tipo de cultivo</p>
                        <select class="main__form-field main__form-field--userType">
                            <option value="">Seleccione una opción</option>
                            <option value="Granos">Granos</option>
                            <option value="Hortalizas">Hortalizas</option>
                            <option value="Frutas">Frutas</option>
                            <option value="Verduras">Verduras</option>
                            <option value="Legumbres">Legumbres</option>
                        </select>
                    </div>

                    <div class="main__form-group">
                        <p class="main__form-label">Nombre/s</p>
                        <select class="main__form-field main__form-field--select">
                            <option value="">Seleccione una opción</option>
                        </select>
                    </div>
                    
                    <div class="main__form-group">
                        <p class="main__form-label">Tamaño</p>
                        <input 
                            class="main__form-field" 
                            type="text"/>
                    </div>

                    <div class="main__form-group">
                        <p class="main__form-label">Estado</p>
                        <select class="main__form-field">
                            <option value="">Seleccione una opción</option>
                            <option value="Deshabilitado">Deshabilitado</option>
                            <option value="Habilitado">Habilitado</option>
                        </select>
                    </div>                            

                    <div class="main__form-group">
                        <p class="main__form-label">Deshabilitado</p>
                        <select class="main__form-field">
                            <option value="">Seleccione una opción</option>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div> 

                    <div class="main__form-group">
                        <p class="main__form-label">Habilitado</p>
                        <select class="main__form-field">
                            <option value="">Seleccione una opción</option>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div> 
    
                </div><!-- main__container-form -->
                <div class="main__form-end">
                    <a href="/frontend/public/views/crop/table.html">
                        <button type="submit" class="main__form-button main__form-field--buttonFilter">FILTRAR</button>
                    </a>
                </div> <!-- main__form-end -->
            </form><!-- main__container -->
        </main><!-- main -->
    
        <!-- Sección de botón final, regresar -->
        <div class="button-end">
            <a href="table.html">
                <button class="button-end__return" type="submit">CANCELAR</button>
            </a>
        </div>

        <script src="/backend/middleware.js/filtre.js"></script>
</body>
</html>