<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar cultivo</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/form-update-register.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <!-- Link para icono de carga -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <form class="main__container main__container--cropForm">
            <h2 class="main__title">Registrar cultivo</h2>
            <div class="main__container-form">
                <div class="main__form-group">
                    <p class="main__form-label">ID del cultivo</p>
                    <input class="main__form-field main__form-field--cropId" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Tipo de cultivo</p>
                    <input class="main__form-field main__form-field--cropType" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Ubicación</p>
                    <input class="main__form-field main__form-field--cropLocation" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Tamaño</p>
                    <input class="main__form-field main__form-field--cropSize" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Nombre</p>
                    <input class="main__form-field main__form-field--cropName" type="text">
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Estado</p>
                    <select class="main__form-field main__form-field--cropState">
                        <option value="">Seleccione una opción</option>
                        <option value="CC">Activo</option>
                        <option value="TI">Inactivo</option>
                    </select>
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">
                        Imágen del cultivo
                    </p>
                    <label class="main__form-field main__form-upload">
                        <input type="file" class="main__form-field--upload-input" id="imagenCrop">
                        <span class="main__upload-text" id="fileName">Seleccionar archivo</span>
                        <i class="main__upload-icon fas fa-upload"></i>
                    </label>
                </div>
                <div class="main__form-group">
                    <p class="main__form-label">Descripción</p>
                    <input class="main__form-field main__form-field--cropDescription" type="text" />
                </div>
            </div><!-- main__container-form -->
            <div class="main__form-end">
                <button type="submit" class="main__form-button main__form-field--buttonRegister">REGISTRAR</button>
            </div><!-- main__form-end -->
        </form> <!-- main__container -->
    </main>

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html">
            <button class="button-end__return" type="button">CANCELAR</button>
        </a>
    </div>

    <script src="/backend/middleware.js/crop-validation.js"></script>

</body>
</html>