<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar cultivo</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/visualise.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <div class="main__container">
            <div class="main__container-information">
                <div class="main__container-image">
                    <h1 class="main__title">Visualizar asociaciones de cultivo</h1>
                    <img class="main__image" src="../../img/image_crop.png">
                </div>
                <div class="main__container-text"> 
                    <h2 class="main__subtitle">Cultivo: Tomate</h2>
                    <P>ID del cultivo: crop0032</P>
                    <p>Tipo de cultivo: Hortaliza</p>
                    <p>Variedad: Tomate chonto</p>
                    <p>Tamaño: 1.2 hectáreas</p>
                    <p>Ubicación: Invernadero 3</p>
                    <p>Estado: HABILITADO</p>
                    <p>Descripción: Cultivo de tomate destinado a consumo fresco, desarrollado en ambiente controlado.</p>
                    <h2 class="main__subtitle">Datos de asociación de módulos</h2>
                    <p>Usuario encargado: Carlos Ramírez</p>
                    <p>Sensores asignados: Sensor de humedad 01, Sensor de temperatura 02</p>
                    <p>Insumos utilizados: Fertilizante NPK, Fungicida orgánico</p>
                    <p>Ciclos de cultivo: Ciclo 1 - 2024, Ciclo 2 - 2025</p>
                </div>
                
            </div>
        </div>
    </main>

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html"><button class="button-end__return" type="submit">VOLVER</button></a>
    </div>
</body>
</html>