/* Header */
header {
    border-bottom: 0.4rem solid var(--primary_green_900);
}

/* Main */
.main {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.main__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 6rem;
    background-color: var(--white);
    width: 70%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 3px 15px 0px var(--primary_green_900);
    align-items: center;
}
.main__description {
    margin-top: 0.8rem;
    margin-bottom: 6rem;
}
.main__title {
    margin-bottom: 0;
}
.main__actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.main__button-container {
    margin-top: 1.8rem;
}

/* Estilos para los mensajes de error */
.error {
    background-color: #ff585f;
    color: white;
    padding: 1rem;
    margin: 1rem auto;
    max-width: 80%;
    text-align: center;
    border-radius: 0.5rem;
    font-weight: bold;
}

/* Media Queries */
@media (max-width: 800px) {
    .main__container {
        width: 90%;
    }
    .main__actions {
        justify-content: center;
    }
}
