/* Main */
.main {
    margin-top: 8rem;
    margin-bottom: 4rem;
}
.main__container {
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 4rem;
    text-align: center;
    align-items: center;
    width: 80%;
    box-shadow: 0rem 0.5rem 0.8rem var(--primary_green_900);
}
.main__title {
    margin-bottom: 0.4rem;
}
.main__paragraph {
    margin-top: 0.2rem;
}
.main__subtitle {
    margin-bottom: 0.4rem;
}
.main__button {
    margin-top: 2rem;
}
/* Media */
@media (max-width: 768px) {
    .main {
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
    .main__container {
        padding: 6rem;
        width: 98%;
    }
}
