    <!-- user ID form/usuarios habilitar/deshabilitar -->
    <form class="userForm form">
        <div class="form__container">
            <div class="form__header">
                <h2 class="form__title">Usuarios</h2>
                <p class="form__text">Por favor, ingrese el ID del <span id="idLabel"></span></p>
            </div>

            <div class="container">
                <input class="userId container__input" type="text" />
            </div><br>

            <div class="box">
                <a href="habilitar-usuario.html">
                    <input class="box__button" type="button" value="HABILITAR" />
                </a><br>

                <a href="deshabilitar-usuario.html">
                    <input class="box__button" type="button" value="DESHABILITAR" />
                </a>
            </div>
        </div>
    </form>
