<!-- Header and User (General header)-->
<header class="hero hero--general">
    <div class="hero__container">
        <img class="hero__image hero__image--logo" src="/frontend/public/img/logo_sena.png" alt="Logo SENA" />
    </div>
    <div class="hero__container">
        <h1 class="hero__title">LEMBO SGAL</h1>
    </div>


    <!-- Contenedor principal del header -->
    <div class="hero__container hero__container--nav">
        <!-- Contenedor de usuario -->
        <div class="hero__user-content">
            <h4 class="hero__user-title">Menú</h4>

                <a href="#menu" class="hero__nav-menu">

                    <img class="hero__image hero__image--user" src="/frontend/public/img/image_two_slider.jpg" alt="Imágen de usuario"/> 
                </a>

                <a href="#close" class="hero__nav-menu hero__nav-menu--second">

                    <img class="hero__image hero__image--user" src="/frontend/public/img/image_two_slider.jpg" alt="Imágen de usuario"/> 
                </a>

                <!-- Empezamos con el dropdown -->
                <ul class="hero__dropdown" id="menu">

                    <li class="hero__dropdown-list">
                        <a href="/frontend/public/views/home-before.html" class="hero__dropdown-link">
                            <img src="/frontend/public/img/icon_home.png" alt="Inicio" class="hero__dropdown-icon">
                            <span class="hero__dropdown-span">
                                Inicio
                            </span>
                        </a>
                    </li>

                    <li class="hero__dropdown-list">
                        <a href="/frontend/public/views/profile.html" class="hero__dropdown-link">
                            <img src="/frontend/public/img/profile_icon.png" alt="Inicio" class="hero__dropdown-icon">
                            <span class="hero__dropdown-span">
                                Perfil
                            </span>
                        </a>
                    </li>
                    
                    <li class="hero__dropdown-list">
                        <a href="#" class="hero__dropdown-link">
                            <img src="/frontend/public/img/icon_modules.png" alt="Modulos" class="hero__dropdown-icon">
                            <span class="hero__dropdown-span">
                                Módulos
                            </span>

                            <svg class="hero__dropdown-arrow" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill: rgba(184, 187, 191);transform: msFilter;"><path d="M16.293 9.293 12 13.586 7.707 9.293l-1.414 1.414L12 16.414l5.707-5.707z"></path></svg>

                            <input type="checkbox" class="hero__dropdown-check">
                        </a>

                        <div class="hero__dropdown-content">

                            <ul class="hero__dropdown-sub">

                                <li class="hero__dropdown-li">
                                    <a href="/frontend/public/views/user/table.html" class="hero__dropdown-anchor">Usuarios</a>
                                </li>
                                <li class="hero__dropdown-li">
                                    <a href="/frontend/public/views/crop/table.html" class="hero__dropdown-anchor">Cultivos</a>
                                </li>
                                <li class="hero__dropdown-li">
                                    <a href="/frontend/public/views/crop-cycle/table.html" class="hero__dropdown-anchor">Ciclos de cultivo</a>
                                </li>
                                <li class="hero__dropdown-li">
                                    <a href="/frontend/public/views/supplies/table.html" class="hero__dropdown-anchor">Insumos</a>
                                </li>
                                <li class="hero__dropdown-li">
                                    <a href="/frontend/public/views/sensor/table.html" class="hero__dropdown-anchor">Sensores</a>
                                </li>
                                <li class="hero__dropdown-li">
                                    <a href="/frontend/public/views/asociacion/table.html" class="hero__dropdown-anchor">Asociacion</a>
                                </li>
                            </ul>
                        </div>
                    </li>

                    <li class="hero__dropdown-list">
                        <a href="/frontend/public/views/configuration-user" class="hero__dropdown-link">
                            <img src="/frontend/public/img/icon_settings.png" alt="Ajustes" class="hero__dropdown-icon">
                            <span class="hero__dropdown-span">
                                Ajustes
                            </span>
                        </a>
                    </li>

                    <li class="hero__dropdown-list">
                        <a href="/frontend/public/views/confirm-close-sesion.html" class="hero__dropdown-link">
                            <img src="/frontend/public/img/icon_notificacion.png" alt="Ajustes" class="hero__dropdown-icon">
                            <span class="hero__dropdown-span">
                                Notificaciones
                            </span>
                        </a>
                    </li>

                    <li class="hero__dropdown-list">
                        <a href="/frontend/public/views/confirm-close-sesion.html" class="hero__dropdown-link">
                            <img src="/frontend/public/img/icon_information.png" alt="Ajustes" class="hero__dropdown-icon">
                            <span class="hero__dropdown-span">
                                Acerca de
                            </span>
                        </a>
                    </li>
                    
                    <!-- <li class="hero__dropdown-list">
                            <span class="hero__dropdown-span">
                                <button id="dark-mode-toggle">Modo Oscuro</button>
                            </span>
                    </li> -->
                    
                    <li class="hero__dropdown-list">
                        <a href="/frontend/public/views/confirm-close-sesion.html" class="hero__dropdown-link">
                            <img src="/frontend/public/img/icon_sesion_close.png" alt="Ajustes" class="hero__dropdown-icon">
                            <span class="hero__dropdown-span">
                                Cerrar sesión
                            </span>
                        </a>
                    </li>
                </ul><!-- hero__dropdown -->
        </div>
    </div>
</header>