<!-- Header (unique)-->
<header class="hero hero--unique">
    <div class="hero__container">
        <img class="hero__image hero__image--logo" src="/frontend/public/img/logo_sena.png" alt="Logo SENA" />
    </div>
    <div class="hero__container">
        <h1 class="hero__title">LEMBO SGAL</h1>
    </div>
    <div class="hero__container">
        <!-- Contenedor para mantener la armonia del diseño del header (titulo centrado) -->
        <div class="hero__user-content">
            <div class="hero__container-content">
                <img class="hero__image hero__image--user"/>
            </div>
            <div class="hero__container-content">
                <h3 class="hero__menu-title"></h3>
            </div>
    </div>
</header>