<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar producción</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/form-update-register.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>
    <script src="/backend/middleware.js/supplies-validacion.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <div class="main__container">
          <h2 class="main__title">Registrar producción</h2>
          <form id="form-asociacion" class="main__container-form">
            
            <div class="main__form-group">
              <p class="main__form-label">ID de la asociación</p>
              <input class="main__form-field main__form-field--asociacion-id" type="text" name="id_asociacion">
            </div>
      
            <div class="main__form-group">
              <p class="main__form-label">Cultivo asociado</p>
              <select name="id_cultivo" class="main__form-field main__form-field--select-cultivo">
                <option value="">Selecciona un cultivo</option>
              </select>
            </div>
      
            <div class="main__form-group">
              <p class="main__form-label">Ciclo de cultivo asociado</p>
              <select name="id_ciclo" class="main__form-field main__form-field--select-cycle">
                <option value="">Seleccionar ciclo</option>
              </select>
            </div>
      
            <div class="main__form-group">
              <p class="main__form-label">Sensores asociados</p>
              <select name="id_sensor[]" class="main__form-field main__form-field--select-sensor" multiple></select>
            </div>
      
            <div class="main__form-group">
              <p class="main__form-label">Insumos asociados</p>
              <select name="id_insumo[]" class="main__form-field main__form-field--select-insumo" multiple></select>
            </div>
      
            <div class="main__form-group">
              <p class="main__form-label">Usuarios asociados</p>
              <select name="id_usuario[]" class="main__form-field main__form-field--select-usuario" multiple></select>
            </div>
      
            <div class="main__form-end">
              <a href="confirm-update-register-enable-disable.html">
                <button type="button" class="main__form-button">REGISTRAR</button>
              </a>
              
            </div>
      
          </form>
        </div>
      </main>      

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html">
            <button class="button-end__return" type="button">CANCELAR</button>
        </a>
    </div>

    <!-- <script src="/backend/middleware.js/asociacion-validation.js"></script> -->
    <script src="/backend/middleware.js/load-selects.js"></script>
</body>
</html>