<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar producción</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/form-update-register.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>
    <script src="/backend/middleware.js/supplies-validacion.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
    <!-- Link de icono agregar a la lista -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <div class="main__container">
          <h2 class="main__title">Registrar producción</h2>
          <form id="form-asociacion" class="main__container-form">
            <div class="main__container-section main__container-section--one">
              <div class="main__form-group">
                <p class="main__form-label">ID de la producción</p>
                <input class="main__form-field main__form-field--produccion-id" type="text" name="id_asociacion" disabled>
              </div>

              <div class="main__form-group">
                <p class="main__form-label">Nombre de producción</p>
                <input class="main__form-field main__form-field--produccion-name" type="text" name="nombre_asociacion">
              </div>

              <div class="main__form-group">
                <p class="main__form-label">Ubicación</p>
                <input class="main__form-field main__form-field--produccion-locate" type="text" name="nombre_asociacion">
              </div>

              <div class="main__form-group main__form-group--line">
                <p class="main__form-label">Fecha inicial</p>
                <input class="main__form-field main__form-field--produccion-start-date" type="date" name="nombre_asociacion">
              </div>

              <div class="main__form-group main__form-group--line">
                <p class="main__form-label">Fecha final</p>
                <input class="main__form-field main__form-field--produccion-end-date" type="date" name="nombre_asociacion">
              </div>

              <div class="main__form-group main__form-group--line">
                <p class="main__form-label">Descripción</p>
                <input class="main__form-field main__form-field--produccion-description" type="text" name="nombre_asociacion">
              </div>
            </div>

            <div class="main__container-section main__container-section--two">
              <div class="main__form-group main__form-group--flex">
                <div class="main__form-box">
                  <p class="main__form-label">Cultivo</p>
                  <select name="id_cultivo" class="main__form-field main__form-field--select-cultivo">
                    <option value="">Selecciona un cultivo</option>
                  </select>
                </div>
                <div class="main__form-actions">
                  <button type="button" class="main__form-action main__form-action--Crop">Registrar nuevo cultivo</button>
                </div>
              </div>
        
              <div class="main__form-group main__form-group--flex">
                <div class="main__form-box">
                  <p class="main__form-label">Ciclo de cultivo</p>
                  <select name="id_ciclo" class="main__form-field main__form-field--select-cycle">
                    <option value="">Seleccionar ciclo</option>
                  </select>
                </div>
                <div class="main__form-actions">
                  <button type="button" class="main__form-action main__form-action--Cycle">Registrar nuevo ciclo</button>
                </div>
              </div>
              
              <div class="main__form-group main__form-group--flex">
                <div class="main__form-box">
                  <p class="main__form-label">Usuario</p>
                  <select name="id_usuario" class="main__form-field main__form-field--select-usuario">
                    <option value="">Seleccionar usuario</option>
                  </select>
                </div>
                <div class="main__form-actions">
                  <button type="button" class="main__form-action main__form-action--User">Registrar nuevo usuario</button>
                </div>
              </div>
        
              <!-- Seleccionar sensores -->
              <div class="main__form-group main__form-group--flex">
                <div class="main__form-box-group main__form-box-group--sensor">
                  <div class="main__form-box main__form-box--sensor">
                    <p class="main__form-label">Sensores (3 máximo)</p>
                    <select name="id_sensor" class="main__form-field main__form-field--select-sensor">
                      <option value="">Seleccionar sensor</option>
                    </select>
                  </div>
                </div>
              
                <div class="main__form-actions">
                  <button type="button" class="main__form-action main__form-action--icon-sensor" title="Agregar a la lista">
                    <li class="fas fa-plus"></li>
                  </button>
                  <button type="button" class="main__form-action main__form-action--Sensor">Registrar nuevo sensor</button>
                </div>
              </div>
              
              <!-- Seleccionar insumos -->
              <div class="main__form-group main__form-group--flex">
                <div class="main__form-box-group">
                  <div class="main__form-box main__form-box--supplies">
                    <p class="main__form-label">Insumos</p>
                    <select name="id_insumo" class="main__form-field main__form-field--select-insumo">
                      <option value="">Seleccionar insumo</option>
                    </select>
                  </div>
                </div>
              
                <div class="main__form-actions">
                  <button type="button" class="main__form-action main__form-action--icon-supplies" title="Agregar a la lista">
                    <li class="fas fa-plus"></li>
                  </button>
                  <button type="button" class="main__form-action main__form-action--Supplies">Registrar nuevo insumo</button>
                </div>
              </div>
              
            </div>

            <div class="main__form-end">
              <a href="confirm-update-register-enable-disable.html">
                <button type="button" class="main__form-button">REGISTRAR</button>
              </a>
            </div>
          </form>
        </div>
      </main>
      
      <!-- Modal de Registro de Cultivo -->
      <section class="main__modal-crop">
        <div class="main__modal-crop--content">
          <!-- Cerrar el modal -->
          <span class="main__modal-crop--close">&times;</span>
          <h2>Registrar nuevo cultivo</h2>
          <form class="main__container main__container--cropForm">
            <div class="main__container-form">
              <div class="main__form-group">
                  <p class="main__form-label">ID del cultivo</p>
                  <input class="main__form-field main__form-field--cropId" type="text">
              </div>
              <div class="main__form-group">
                  <p class="main__form-label">Tipo de cultivo</p>
                  <input class="main__form-field main__form-field--cropType" type="text">
              </div>
              <div class="main__form-group">
                  <p class="main__form-label">Ubicación</p>
                  <input class="main__form-field main__form-field--cropLocation" type="text">
              </div>
              <div class="main__form-group">
                  <p class="main__form-label">Tamaño</p>
                  <input class="main__form-field main__form-field--cropSize" type="text">
              </div>
              <div class="main__form-group">
                  <p class="main__form-label">Nombre</p>
                  <input class="main__form-field main__form-field--cropName" type="text">
              </div>
              <div class="main__form-group">
                  <p class="main__form-label">Estado</p>
                  <select class="main__form-field main__form-field--cropState">
                      <option value="activo">Activo</option>
                      <option value="inactivo">Inactivo</option>
                  </select>
              </div>
              <div class="main__form-group">
                  <p class="main__form-label">
                      Imágen del cultivo
                  </p>
                  <label class="main__form-field main__form-field--upload">
                      <input type="file" class="main__form-field--upload-input" id="imagenCrop">
                      <span class="main__upload-text" id="fileName">Seleccionar archivo</span>
                      <i class="main__upload-icon fas fa-upload"></i>
                  </label>
              </div>
              <div class="main__form-group">
                  <p class="main__form-label">Descripción</p>
                  <input class="main__form-field main__form-field--description main__form-field--cropDescription" type="text" />
              </div>
            </div><!-- main__container-form -->
            <div class="main__form-end">
              <button type="submit" class="main__form-button main__form-field--buttonRegister">REGISTRAR</button>
            </div><!-- main__form-end -->
          </form>
        </div>
      </section>

      <!-- Moodal de registro de ciclo de cultivo -->
      <section class="main__modal-cycle">
        <div class="main__modal-cycle--content">
          <!-- Cerrar el modal -->
          <span class="main__modal-cycle--close">&times;</span>
          <h2>Registrar nuevo ciclo</h2>
          <form class="main__container main__container--cycleForm">
            <div class="main__container-form">
                <div class="main__form-group">
                    <p class="main__form-label">ID del ciclo de cultivo</p>
                    <input class="main__form-field main__form-field--cycle-id" type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Nombre del ciclo</p>
                    <input class="main__form-field main__form-field--cycle-name" type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Ubicación</p>
                    <input class="main__form-field main__form-field--location" type="text">
                </div>
                
                <div class="main__form-group">
                    <p class="main__form-label">Periodo / fecha inicio</p>
                    <input class="main__form-field main__form-field--start-date" type="date">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Periodo / fecha fin</p>
                    <input class="main__form-field main__form-field--end-date" type="date">
                </div>
                
                <div class="main__form-group">
                    <p class="main__form-label">Estado</p>
                    <select class="main__form-field main__form-field--cycleState">
                        <option value="activo">Activo</option>
                        <option value="inactivo">Inactivo</option>
                    </select>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Novedades</p>
                    <input class="main__form-field main__form-field--news" type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Descripción</p>
                    <input class="main__form-field main__form-field--description" type="text" />
                </div>
            </div><!-- main__container-form -->
            <div class="main__form-end">
                <button class="main__form-button main__form-field--register-button" type="submit">REGISTRAR</button>
            </div>
          </form> 
        </div>
      </section><!-- main__modal-cycle -->

      <!-- Modal de registro de usuario -->
      <section class="main__modal-user">
        <div class="main__modal-user--content">
          <!-- Cerrar el modal -->
          <span class="main__modal-user--close">&times;</span>
          <h2>Registrar nuevo usuario</h2>
          <form class="main__container main__container--user main__container--userForm"><!-- userForm -->
            <div class="main__container-form">

                <div class="main__form-group">
                    <p class="main__form-label">ID de usuario</p>
                    <input 
                        class="main__form-field main__form-field--userId" 
                        type="text" name="user_id" readonly/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Tipo de usuario</p>
                    <select class="main__form-field main__form-field--userType">
                        <option value="">Seleccione una opción</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Personal apoyo">Personal de apoyo</option>
                        <option value="Visitante">Visitante</option>
                    </select>
                </div>
                
                <div class="main__form-group">
                    <p class="main__form-label">Tipo de documento</p>
                    <select class="main__form-field main__form-field--userDocumentType">
                        <option value="">Seleccione una opción</option>
                        <option value="Cédula de ciudadanía (CC)">Cédula de ciudadanía (CC)</option>
                        <option value="Tarjeta de identidad (TI)">Tarjeta de identidad (TI)</option>
                        <option value="Cédula de extranjería (CE)">Cédula de extranjería (CE)</option>
                        <option value="Permiso Especial de Permanencia (PEP)">Permiso Especial de Permanencia (PEP)</option>
                        <option value="Permiso por Protección Temporal (PPT)">Permiso por Protección Temporal (PPT)</option>
                    </select>
                </div>                            

                <div class="main__form-group">
                    <p class="main__form-label">Número de documento</p>
                    <input 
                        class="main__form-field main__form-field--userIdentificationNumber" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Nombre/s</p>
                    <input 
                        class="main__form-field main__form-field--userName" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Apellido/s</p>
                    <input 
                        class="main__form-field main__form-field--userLastName" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Número telefónico</p>
                    <input 
                        class="main__form-field main__form-field--userCellPhone" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Estado</p>
                    <select class="main__form-field main__form-field--userState">
                        <option value="Habilitado">Activo</option>
                        <option value="Deshabilitado">Inactivo</option>
                    </select>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Correo electrónico</p>
                    <input 
                        class="main__form-field main__form-field--userEmail" 
                        type="email"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Confirmación de correo electrónico</p>
                    <input 
                        class="main__form-field main__form-field--userConfirmationEmail" 
                        type="email"/>
                </div>

            </div><!-- main__container-form -->
            <div class="main__form-end">
                <button type="submit" class="main__form-button main__form-field--buttonRegister">REGISTRAR</button>
            </div> <!-- main__form-end -->
          </form><!-- main__container -->
        </div>
      </section><!-- main__modal-user -->

      <!-- Modal de registro de sensor -->
      <section class="main__modal-sensor">
        <div class="main__modal-sensor--content">
          <!-- Cerrar el modal -->
          <span class="main__modal-sensor--close">&times;</span>
          <h2>Registrar nuevo sensor</h2>
          <form class="main__container main__container--sensorForm">
            <div class="main__container-form">
    
                <div class="main__form-group">
                    <p class="main__form-label">ID del sensor</p>
                    <input 
                    type="text" 
                    class="main__form-field main__form-field--sensor-id" 
                    />
                </div>
    
                <div class="main__form-group">
                    <p class="main__form-label">Tipo de sensor</p>
                    <input type="text" class="main__form-field main__form-field--sensor-type">
                </div>
    
                <div class="main__form-group">
                    <p class="main__form-label">Nombre del sensor</p>
                    <input type="text" class="main__form-field main__form-field--name">
                </div>
    
                <div class="main__form-group">
                    <p class="main__form-label">Unidad de medida</p>
                    <select class="main__form-field main__form-field--unit-measure">
                        <option value="">Seleccione una opción</option>
                        <option value="m">Metros (m)</option>
                        <option value="cm">Centímetros (cm)</option>
                        <option value="mm">Milímetros (mm)</option>
                        <option value="kg">Kilogramos (kg)</option>
                        <option value="g">Gramos (g)</option>
                        <option value="l">Litros (l)</option>
                        <option value="ml">Mililitros (ml)</option>
                    </select>
                </div>
    
                <div class="main__form-group">
                    <p class="main__form-label">Tiempo de escaneo (minutos)</p>
                    <input type="number" class="main__form-field main__form-field--scan-time" min="0" step="1" placeholder="Minutos">
                </div>
    
                <div class="main__form-group">
                    <p class="main__form-label">
                        Imágen del sensor
                    </p>
                    <label class="main__form-field main__form-field--upload">
                        <input type="file" class="main__form-field--upload-input" id="imagenSensor">
                        <span class="main__upload-text" id="fileName">Seleccionar archivo</span>
                        <i class="main__upload-icon fas fa-upload"></i>
                    </label>
                </div>
    
                <div class="main__form-group">
                    <p class="main__form-label">Estado</p>
                    <select class="main__form-field main__form-field--state">
                        <option value="activo">Activo</option>
                        <option value="inactivo">Inactivo</option>
                    </select>
                </div>
    
                <div class="main__form-group form__field-group--description">
                    <p class="main__form-label">Descripción</p>
                    <input type="text" class="main__form-field main__form-field--description">
                </div>
            </div><!-- main__container-form -->
            <div class="main__form-end">
                <button class="main__form-button">REGISTRAR</button>
            </div>
          </form><!-- main__container -->
        </div>
      </section>

      <!-- Modal de registro de insumos -->
      <section class="main__modal-supplies">
        <div class="main__modal-supplies--content">
          <!-- Cerrar el modal -->
          <span class="main__modal-supplies--close">&times;</span>
          <h2>Registrar nuevo insumo</h2>
          <form class="main__container main__container--suppliesForm">
            <div class="main__container-form">

                <div class="main__form-group">
                    <p class="main__form-label">ID del insumo</p>
                    <input 
                        class="main__form-field main__form-field--suppliesId" 
                        type="text" />
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Tipo</p>
                    <input 
                        class="main__form-field main__form-field--suppliesType" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Cantidad</p>
                    <input 
                        class="main__form-field main__form-field--suppliesCuantity" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Nombre</p>
                    <input 
                        class="main__form-field main__form-field--suppliesName" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Estado</p>
                    <select class="main__form-field main__form-field--suppliesState">
                        <option value="activo">Activo</option>
                        <option value="inactivo">Inactivo</option>
                    </select>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Valor unitario</p>
                    <input 
                        class="main__form-field main__form-field--suppliesUnitvalue" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Valor total</p>
                    <input 
                        class="main__form-field main__form-field--suppliesTotalvalue" 
                        type="text">
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">
                        Imágen del insumo
                    </p>
                    <label class="main__form-field main__form-field--upload">
                        <input type="file" class="main__form-field--upload-input" id="imagenInsumo">
                        <span class="main__upload-text" id="fileName">Seleccionar archivo</span>
                        <i class="main__upload-icon fas fa-upload"></i>
                    </label>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Unidad de medida</p>
                    <select class="main__form-field main__form-field--suppliesMeasure">
                        <option value="">Seleccione una opción</option>
                        <option value="kg">Kilogramos (kg)</option>
                        <option value="g">Gramos (g)</option>
                        <option value="l">Litros (l)</option>
                        <option value="ml">Mililitros (ml)</option>
                        <option value="unidad">Unidad</option>
                        <option value="m">Metros (m)</option>
                        <option value="cm">Centímetros (cm)</option>
                    </select>
                </div>                

                <div class="main__form-group">
                    <p class="main__form-label">Descripción</p>
                    <input 
                        class="main__form-field main__form-field--description main__form-field--suppliesDescription" 
                        type="text" />
                </div>
            </div><!-- main__container-form -->
            <div class="main__form-end">
                <button class="main__form-button" type="submit">REGISTRAR</button>
            </div>
          </form> <!-- main__container -->
        </div>
      </section>
      

      
    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html">
            <button class="button-end__return" type="button">CANCELAR</button>
        </a>
    </div>

    <!-- Scripts de seleccion de base de datos en inputs y agregar o remover input -->
    <script src="/backend/middleware.js/load-selects.js"></script>
    <script src="/backend/middleware.js/add-remove-select-supplies.js"></script>
    <script src="/backend/middleware.js/add-remove-select-sensor.js"></script>
    <script src="/backend/middleware.js/open-close-modal.js"></script>
</body>
</html>