<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asociaciones</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/table.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>
    <script src="../../js/display_drop-down.js" defer></script>
    <script src="../../js/search-table.js" defer></script>
    <script src="../../js/utils/export-utils.js" defer></script>
    <script src="../../js/asociacion/asociacion.js" defer></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Título de la tabla -->
    <div class="table-title">
        <h2 class="table-title__title">Asociaciones</h2>
    </div>

    <!-- Sección de búsqueda -->
    <div class="search">
        <div class="search__container">
            <input type="text" class="search__input" placeholder="Buscar...">
            <img src="/frontend/public/img/icono_lupa.png" alt="Buscar" class="search__icon">
        </div>
    </div>

    <!-- Opciones de la tabla -->
    <div class="table-options">
        <div class="table-options__link table-options__link--dropdown-wrapper">
            <h4 class="table-options__title table-options__title--dropdown-toggle" id="deshabilitarHabilitarBtn">Deshabilitar/Habilitar
                <img class="table-options__image" src="../../img/icono_flecha.png" />
            </h4>
            <div class="dropdown-menu" id="deshabilitarHabilitarMenu">
                <a href="#">Habilitar</a>
                <a href="#">Deshabilitar</a>
            </div>
        </div>
        <div class="table-options__link table-options__link--dropdown-wrapper">
            <h4 class="table-options__title table-options__title--dropdown-toggle" id="descargarBtn">Descargar
                <img class="table-options__image" src="../../img/icono_flecha.png" />
            </h4>
            <div class="dropdown-menu" id="descargarMenu">
                <a href="#">pdf</a>
                <a href="#">excel</a>
            </div>
        </div>
        <div class="table-options__link table-options__link--dropdown-wrapper">
            <h4 class="table-options__title table-options__title--dropdown-toggle" id="visualizarBtn">Visualizar
                <img class="table-options__image" src="../../img/icono_flecha.png" />
            </h4>
            <div class="dropdown-menu" id="visualizarMenu">
                <a href="id-visualise.html">Visualizar asociación</a>
                <a href="id-visualise.html">Visualizar datos</a>
            </div>
        </div>
        <a class="table-options__link" href="filtro.html">
            <img class="table-options__image--filter" src="../../img/icono_filtro.png" />
        </a>
    </div>


    <!-- Tabla -->
    <main class="main">
        <table class="main__table">
            <thead class="main__thead">
                <tr class="main__table-row">
                    <th class="main__table-header main__table-header--checkbox">
                        <input type="checkbox" class="main__table-checkbox" id="selectAll">
                    </th>
                    <th class="main__table-header">CULTIVO</th>
                    <th class="main__table-header">SENSOR ASOCIADO</th>
                    <th class="main__table-header">INSUMO ASOCIADO</th>
                    <th class="main__table-header">CICLO ASOCIADO</th>
                    <th class="main__table-header">USUARIO ASOCIADO</th>
                    <th class="main__table-header">ESTADO</th>
                </tr>
            </thead>
            <tbody class="main__tbody">
                <tr class="main__table-row">
                    <td class="main__table-cell main__table-cell--checkbox">
                        <input type="checkbox" class="main__table-checkbox">
                    </td>
                    <td class="main__table-cell">Fresas</td>
                    <td class="main__table-cell">Temperatura, Humedad, pH, Luminosidad</td>
                    <td class="main__table-cell">Fertilizante NPK, Agua</td>
                    <td class="main__table-cell">Ciclo Primavera 2024</td>
                    <td class="main__table-cell">Carlos Rodriguez</td>
                    <td class="main__table-cell main__table-cell--status main__table-cell--active">Activo</td>
                </tr>
                <tr class="main__table-row">
                    <td class="main__table-cell main__table-cell--checkbox">
                        <input type="checkbox" class="main__table-checkbox">
                    </td>
                    <td class="main__table-cell">Tomates</td>
                    <td class="main__table-cell">Temperatura, Humedad</td>
                    <td class="main__table-cell">Fertilizante orgánico, Agua</td>
                    <td class="main__table-cell">Ciclo Verano 2024</td>
                    <td class="main__table-cell">María González</td>
                    <td class="main__table-cell main__table-cell--status main__table-cell--active">Activo</td>
                </tr>
                <tr class="main__table-row">
                    <td class="main__table-cell main__table-cell--checkbox">
                        <input type="checkbox" class="main__table-checkbox">
                    </td>
                    <td class="main__table-cell">Lechugas</td>
                    <td class="main__table-cell">Humedad, pH</td>
                    <td class="main__table-cell">Fertilizante líquido, Agua</td>
                    <td class="main__table-cell">Ciclo Invierno 2024</td>
                    <td class="main__table-cell">Juan Pérez</td>
                    <td class="main__table-cell main__table-cell--status main__table-cell--inactive">Inactivo</td>
                </tr>
                <tr class="main__table-row">
                    <td class="main__table-cell main__table-cell--checkbox">
                        <input type="checkbox" class="main__table-checkbox">
                    </td>
                    <td class="main__table-cell">Zanahorias</td>
                    <td class="main__table-cell">Temperatura, Humedad, pH</td>
                    <td class="main__table-cell">Fertilizante NPK, Agua</td>
                    <td class="main__table-cell">Ciclo Otoño 2024</td>
                    <td class="main__table-cell">Ana Martínez</td>
                    <td class="main__table-cell main__table-cell--status main__table-cell--active">Activo</td>
                </tr>
                <tr class="main__table-row">
                    <td class="main__table-cell main__table-cell--checkbox">
                        <input type="checkbox" class="main__table-checkbox">
                    </td>
                    <td class="main__table-cell">Pimientos</td>
                    <td class="main__table-cell">Temperatura, Humedad, Luminosidad</td>
                    <td class="main__table-cell">Fertilizante orgánico, Agua</td>
                    <td class="main__table-cell">Ciclo Verano 2024</td>
                    <td class="main__table-cell">Luis Sánchez</td>
                    <td class="main__table-cell main__table-cell--status main__table-cell--active">Activo</td>
                </tr>
            </tbody>            
        </table>
    </main>

    <!-- Seccion de botones finales - registrar/actualizar-->
    <div class="button-end">
        <a href="register.html">
            <button class="button-end__return--top-none" type="button">REGISTRAR</button>
        </a>
        <a href="id-update.html">
            <button class="button-end__return--top-none" type="button">ACTUALIZAR</button>
        </a>
    </div>
</body>
</html>