/* Header */
header {
    border-bottom: 0.4rem solid var(--primary_green_900);
}

/* Main */
.main {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
    margin-bottom: 2rem;
}
.main__container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 4rem;
    padding-top: 0.6rem;
    background-color: var(--white);
    width: 70%;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 3px 15px 0px var(--primary_green_900);
    align-items: center;
}
.main__form-fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.main__form-label {
    margin: 0.8rem 0;
}
.main__paragraph {
    margin-top: 0;
    margin-bottom: 1rem;
}
.main__title {
    margin-bottom: 0.4rem;
}
.main__form-group {
    text-align: start;
}
.main__form-button {
    margin-top: 2rem;
}

/* Media queries */
@media (max-width: 768px) {
    .main__container {
        width: 80%;
    }
}
@media (max-width: 420px) {
    .main__container {
        width: 95%;
    }
}
