<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar usuario</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/form-update-register.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <form class="main__container main__container--user main__container--userForm"><!-- userForm -->
            <h2 class="main__title">Registrar usuario del LEMBO SGAL</h2>
            <div class="main__container-form">

                <div class="main__form-group">
                    <p class="main__form-label">Tipo de usuario</p>
                    <input 
                        class="main__form-field main__form-field--userType" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Tipo de documento</p>
                    <input 
                        class="main__form-field main__form-field--userDocumentType" required
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Número de identificación</p>
                    <input 
                        class="main__form-field main__form-field--userIdentificationNumber" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Nombre/s</p>
                    <input 
                        class="main__form-field main__form-field--userName" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Apellido/s</p>
                    <input 
                        class="main__form-field main__form-field--userLastName" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Número telefónico</p>
                    <input 
                        class="main__form-field main__form-field--userCellPhone" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Estado</p>
                    <input class="main__form-field" type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Correo electrónico</p>
                    <input 
                        class="main__form-field main__form-field--userEmail" 
                        type="text"/>
                </div>

                <div class="main__form-group">
                    <p class="main__form-label">Confirmación de correo electrónico</p>
                    <input 
                        class="main__form-field main__form-field--user main__form-field--userConfirmationEmail" 
                        type="text"/>
                </div>

            </div><!-- main__container-form -->
            <div class="main__form-end">
                <!-- <a href="register-credentials.html"> -->
                    <button type="submit" class="main__form-button">CONTINUAR</button>
                <!-- </a> -->
            </div> <!-- main__form-end -->
        </form><!-- main__container -->
    </main><!-- main -->

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html">
            <button class="button-end__return" type="button">CANCELAR</button>
        </a>
    </div>

    <script src="/backend/middleware.js/user-validacion.js"></script>
</body>
</html>