<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Credenciales usuario</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/user/register-credentials.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- main -->
    <main class="main">
        <form class="main__container main__container--userForm">
            <h2 class="main__title">Registrar usuario a LEMBO SGAL</h2>
            <p class="main__paragraph">Credenciales de usuario</p>
            <div class="main__form">
                <div class="main__form-fields">
                    <div class="main__form-group">
                        <p class="main__form-label">Nombre de usuario:</p>
                        <input class="main__form-field main__form-field--userName" type="text">
                    </div>
                    <div class="main__form-group">
                        <p class="main__form-label">Contraseña:</p>
                        <input type="password" class="main__form-field main__form-field--userPassword" type="text" >
                    </div>
                </div><!-- main__form-fields -->
                <div class="main__form-button">
                    <a href="/frontend/public/views/user/confirm-update-register-enable-disable.html">
                        <button type="submit" class="main__button main__form-field--buttonRegister">REGISTRAR</button>
                    </a>
                </div><!-- form__button -->
            </div><!-- form -->
        </form> <!-- main__container -->
    </main>

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html"><button class="button-end__return" type="button">CANCELAR</button></a>
    </div>

    <script src="/backend/middleware.js/user-validation-credentials.js"></script>

</body>
</html>