<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar usuario</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../../css/visualise.css">
    <link rel="stylesheet" href="../../css/styles-general.css">
    <script src="../../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.hmtl -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <div class="main__container">
            <div class="main__container-information">
                <div class="main__container-image">
                    <h1 class="main__title">Visualizar asociaciones de usuario</h1>
                    <img class="main__image" src="../../img/image_users.png">
                </div>
                <div class="main__container-text">
                    <h2 class="main__subtitle">David Martínez</h2>
                    <p>Usuario con cargo de administrador</p>
                    <p>Tipo de documento: C.C</p>
                    <p>Número de documento: 1057575757</p>
                    <p>Número telefónico: +57 3133133131</p>
                    <p>correo electrónico: davidMartinez653@gmail.com</p>
                    <p>Estado: HABILITADO</p>
                    <h2 class="main__subtitle">Datos de asociación de módulos</h2>
                    <p>Cultivo encargado: Maíz</p>
                    <p>Fecha: 21/04/2024</p>
                </div>
            </div>
        </div>
    </main>

    <!-- Sección de botón final, regresar -->
    <div class="button-end">
        <a href="table.html"><button class="button-end__return" type="submit">VOLVER</button></a>
    </div>
</body>
</html>