<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>

    <!-- Links de css y js -->
     <link rel="stylesheet" href="../css/about-us.css">
    <link rel="stylesheet" href="../css/styles-general.css">
    <script src="../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

</head>
<body>
    <div class="hero--general"></div>

    <main class="main">
        <section class="main__container">
            <h1 class="main__heading-primary">Sobre Nosotros</h1>
            <p class="main__paragraph">
                En LEMBO SGVA, sabemos lo que es trabajar la tierra. Entendemos la dedicación que pones en cada siembra,
                en cada cuidado. Por eso, creamos esta herramienta digital pensando en hacerte la vida un poco más fácil y tu granja más eficiente.
                Queremos darte el control en tus manos, desde planificar hasta cosechar, con la información clara que necesitas para que tu esfuerzo
                se vea recompensado con una mejor gestión y más ganancias. Nuestra meta es simple: poner la tecnología a tu servicio para que tu granja
                prospere.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Nuestra Misión</h2>
            <p class="main__paragraph">
                Empoderar a los agricultores a través de una tecnología intuitiva y robusta que optimiza la gestión de sus granjas,
                incrementando su eficiencia, productividad y rentabilidad de manera sostenible.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Nuestra Visión</h2>
            <p class="main__paragraph">
                Ser la plataforma digital de referencia para la gestión de granjas en Risaralda,
                impulsando la modernización del sector agrícola local y mejorando la calidad de vida de
                los agricultores de nuestra comunidad.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Nuestros valores</h2>
            <ul class="main__values-list">
                <li class="main___values-item"><strong>Integridad:</strong> Actuamos con honestidad y transparencia en todo lo que hacemos.</li>
                <li class="main__values-item"><strong>Innovación:</strong> Buscamos constantemente nuevas y mejores formas de hacer las cosas.</li>
                <li class="main__values-item"><strong>Calidad:</strong> Nos comprometemos a ofrecer productos y servicios de la más alta calidad.</li>
                <li class="main__values-item"><strong>Colaboración:</strong> Creemos en el poder del trabajo en equipo y la colaboración para alcanzar nuestros objetivos.</li>
            </ul>
        </section>
    </main>

</body>
</html>