<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nosotros</title>

    <!-- Links de css y js -->
     <link rel="stylesheet" href="../css/about-us.css">
    <link rel="stylesheet" href="../css/styles-general.css">
    <script src="../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

</head>
<body>
    <div class="hero--general"></div>

    <main class="main">
        <section class="main__container">
            <h1 class="main__heading-primary">Sobre Nosotros</h1>
            <p class="main__paragraph">
                ¡Bienvenidos a nuestra página de "Sobre Nosotros"! Aquí podrás conocer más sobre quiénes somos, nuestra misión y los valores que nos impulsan.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Nuestra Misión</h2>
            <p class="main__paragraph">
                Nuestra misión es hacer que el trabajo de aquellas personas que nos garantizan el cultivo de diferentes frutas, verduras etc.. Para 
                traer a nuestras mesas y tener verduras totalmente frescas.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Nuestra Visión</h2>
            <p class="main__paragraph">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta autem amet id ducimus harum sed quibusdam voluptatum? Saepe laudantium quod beatae unde.
                Optio earum quasi, illum quia nesciunt unde minima.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Nuestros valores</h2>
            <ul class="main__values-list">
                <li class="main___values-item"><strong>Integridad:</strong> Actuamos con honestidad y transparencia en todo lo que hacemos.</li>
                <li class="main__values-item"><strong>Innovación:</strong> Buscamos constantemente nuevas y mejores formas de hacer las cosas.</li>
                <li class="main__values-item"><strong>Calidad:</strong> Nos comprometemos a ofrecer productos y servicios de la más alta calidad.</li>
                <li class="main__values-item"><strong>Colaboración:</strong> Creemos en el poder del trabajo en equipo y la colaboración para alcanzar nuestros objetivos.</li>
            </ul>
        </section>
    </main>

</body>
</html>