<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="../css/home-before.css">
    <link rel="stylesheet" href="../css/styles-general.css">
    <script src="../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del general_header.html -->
    <div class="hero--general"></div>

    <!-- Main -->
    <main class="main">
        <section class="main__cards">
            <div class="main__card">
                <a class="main__card-link" href="/frontend/public/views/supplies/table.html">
                    <img class="main__card-image" src="../img/image_supplies.png" />
                </a>
                <h4 class="main__card-title">Insumos</h4>
            </div><!-- main__card -->
            <div class="main__card">
                <a class="main__card-link" href="/frontend/public/views/user/table.html">
                    <img class="main__card-image" src="../img/image_users.png" />
                </a>
                <h4 class="main__card-title">Usuarios</h4>
            </div><!-- main__card -->
            <div class="main__card">
                <a class="main__card-link" href="/frontend/public/views/sensor/table.html">
                    <img class="main__card-image" src="../img/image_sensor.png" />
                </a>
                <h4 class="main__card-title">Sensores</h4>
            </div><!-- main__card -->
            <div class="main__card">
                <a class="main__card-link" href="/frontend/public/views/crop/table.html">
                    <img class="main__card-image" src="../img/image_crop.png" />
                </a>
                <h4 class="main__card-title">Cultivos</h4>
            </div><!-- main__card -->
            <div class="main__card">
                <a class="main__card-link" href="/frontend/public/views/crop-cycle/table.html">
                    <img class="main__card-image" src="../img/image_crop-cycle.png" />
                </a>
                <h4 class="main__card-title">Ciclo de cultivos</h4>
            </div><!-- main__card -->
        </section><!-- main__cards -->
    </main><!-- main -->

</body>
</html>