<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menú Desplegable</title>

    <!-- Links css y script -->
    <link rel="stylesheet" href="../css/styles-general.css">
    <script src="/frontend/public/js/menu.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>

<body>

    <aside class="sidebar">

        <ul class="sidebar__list">

            <li class="sidebar__element">

                <img src="../img/image_two_slider.jpg" class="sidebar__icon sidebar__icon--logo">

                <div class="slidebar__hide">
                    
                </div>
            </li>
        </ul>
    </aside>

</body>
</html>
