<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperación de contraseña</title>

    <!-- Links de css y js -->
    <link rel="stylesheet" href="/frontend/public/css/recover-password.css">
    <link rel="stylesheet" href="../css/styles-general.css">
    <script src="../views/components/js/header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />
</head>
<body>
    <!-- Integración del header.html -->
    <div class="hero--unique"></div>

    <!-- Main -->
    <main class="main">
        <div class="main__container">
            <h3 class="main__title">Recuperación de contraseña</h3>
            <p class="main__paragraph">Se enviará una notificación a su correo electrónico con las nuevas credenciales de acceso</p>
            <h4 class="main__subtitle">Ingrese su correo electrónico</h4>
            <input class="main__field main__field--email" type="email" required />
            <a class="main__link" href="confirm-recover-password.html"><button>ENVIAR</button></a> 
        </div><!-- main__container -->
    </main>

    <!-- Sección de botón final, retroceder -->
    <div class="button-end">
        <a href="login.html">
            <button class="button-end__return" type="button">VOLVER</button>
        </a>
    </div>
</body>
</html>