<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novedades</title>

    <!-- Links de css y js -->
     <link rel="stylesheet" href="../css/about-us.css">
    <link rel="stylesheet" href="../css/styles-general.css">
    <script src="../views/components/js/general_header.js"></script>

    <!-- Tipografia Work Sans -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet" />

</head>
<body>
    <div class="hero--general"></div>

    <main class="main">
        <section class="main__container">
            <h1 class="main__heading-secundary">¡Apoya la Agricultura Local!</h1>
            <p class="main__paragraph">
                Al elegir nuestros productos, estás apoyando a familias agricultoras y la economía de nuestra región.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-primary">Nuevos Tomates Frescos</h2>
            <p class="main__paragraph">
                Ya están disponibles para la compra nuestros deliciosos tomates recién cosechados.
                ¡Ideales para tus ensaladas y guisos!
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Oferta de la Semana: Fresas Dulces</h2>
            <p class="main__paragraph">
                Disfruta de nuestras fresas orgánicas a un precio especial por tiempo limitado.
                ¡Perfectas para postres y desayunos!
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Recordatorio de Pedido: Canasta de Temporada</h2>
            <p class="main__paragraph">
                No olvides realizar tu pedido de la canasta de productos frescos de esta semana antes del 20 de julio
                para recibirla el fin de semana.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Aguacates Listos</h2>
            <p class="main__paragraph">
                Nuestros aguacates han alcanzado su punto óptimo de maduración. ¡Haz tu pedido ahora! y no te pierdas
                de nuestros productos de la mejor calidad.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">Comprometidos con el Medio Ambiente</h2>
            <p class="main__paragraph">
                Esta semana hemos implementado nuevas prácticas de riego eficiente para conservar el agua y contribuir con el 
                cuidado del medio ambiente.
            </p>
        </section>

        <section class="main__container">
            <h2 class="main__heading-secundary">De la Granja a tu Mesa</h2>
            <p class="main__paragraph">
                Conoce más sobre cómo cultivamos nuestros productos de forma sostenible y respetuosa con la naturaleza.
            </p>
        </section>

    </main>

</body>
</html>